.App {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 2rem;
    background: lightskyblue;
    color: azure;
}

.nav-links {
    padding: 2px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    display: inline;
    border: solid;
}

.user-icon {
    font-size: 12px;
    color: black;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 30px;
    background-color: lightskyblue;
}

.nav-card {
    width: 100%;
    height: 50%;
    margin: 10px;
    color: black;
    border-radius: 10px;
    text-align: center;
    left:0;
    top:0;
    z-index:1;
}

.title-card {
    width:100%;
    height:100%;   
}

.card-item {
    width: auto;
    height: auto;
    text-align: justify;
    border: solid;
    border-radius: 7px;
    margin: 10px;
 }

 .float-button{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:deepskyblue;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    padding-top: 15px;
}

.card-detail-submenu {
    margin-top:15px
}

.logo-text {
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.balance-summary {
    width: 50%;
    max-width: 50%;
    border:solid;
    border-radius: 10px;
    padding: 10px;
}

.balance-quantity{
    padding: 10px;
    text-align: center
}

.balance-arrows{
    font-size: 50px
}

.balance-summary-buttons {
    display: block;
}

.balance-movements {
    width: 70%;
    max-width: 70%;
    border:solid;
    border-radius: 10px;
    padding:10px 30px;
}

.card-form-container {
    display: flex;
    flex-wrap: wrap;
    left: auto;
    right: auto;
}

.card-form-control {
    margin-left: 25%;
    margin-right: 25%;
    width: 300px;
    min-width: 120px;
}

.card-select-option {
    width: 200px;
}

.card-item {
    width: 200px;
    margin: 5px;
}

.card-title {
    font-size: 56px;
}